<section class="py-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">
                Web Development-payment
            </h1>
            <p class="lead">Learn to creating payment gateway</p>
            <form action="/charge" method="POST">
                <script src="https://checkout.stripe.com/checkout.js" class="stipe-button"
                    data-key="pk_test_51N3DbMSHP9Afcw1wK0t9c4x2v6RY57it3sffdSns3YMdrWnWZFaxo6Bb7p2fF4cb7BYkgbYrQuiZ5w1ejPhSCgOn00P9hObCjO"
                    data-amount="2500" data-name="EbookSeller" data-description="widget"
                    data-image="https://www.nicepng.com/png/detail/303-3038160_consumer-payment-comments-payment-icon-png.png" data-locale="auto">
                    </script>
                   <button type="submit"class="btn btn-dark btn-lg">Purchase for $25</button>
            </form>
        </div>
        <div class="col-md-6"> 
            <img style="margin-top: 50px;"
                src="https://atlas-content-cdn.pixelsquid.com/assets_v2/254/2547288228570863105/jpeg-600/G07.jpg" alt=""
                class="img-fluid">
        </div>
    </div>
</section>